<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quiz.lesson03.dao.EstateDAO">  <!-- DAO의 경로 -->
	<select id="setEstate"
		resultType="com.quiz.lesson03.model.Estate"> <!-- class 경로 -->
		SELECT
		`id`
		,`realtorId`
		,`address`
		,`area`
		,`type`
		,`price`
		,`rentPrice`
		,`createdAt`
		,`updatedAt`
		FROM
		`real_estate`
		WHERE `id`=#{id}
	</select>
</mapper>